@charset "UTF-8";
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  src: local("Open Sans Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";
  font-display: swap;
  src: local("Open Sans Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -1000%);
            transform: translate(-50%, -1000%); }
  70% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%); }
  90% {
    -webkit-transform: translate(-50%, -51%);
            transform: translate(-50%, -51%); }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -1000%);
            transform: translate(-50%, -1000%); }
  70% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%); }
  90% {
    -webkit-transform: translate(-50%, -51%);
            transform: translate(-50%, -51%); }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0; }

.page {
  min-width: 320px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-decoration-skip-ink: none;
  color: #283645; }

.page__content {
  display: block; }

.page__desktop {
  display: none; }

.btn {
  display: block;
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn--main {
    padding: 15px 30px 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    border: solid 3px;
    border-radius: 30px; }
  .btn--post {
    padding: 17px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #2aab6d;
    border-radius: 2px; }
    .btn--post:hover, .btn--post:focus {
      background-color: #1c9b5e; }
    .btn--post:active {
      color: rgba(255, 255, 255, 0.3); }
    .btn--post:disabled {
      background-color: #e5e5e5; }

.page-header {
  color: #ffffff;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom -223px;
  background-size: 700px auto; }
  .page-header--off {
    padding-top: 66px;
    background-position: center top; }
  .page-header--index {
    padding-top: 0;
    background-image: none; }

.page-header__title {
  margin: 0;
  padding: 32px 40px 54px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center; }
  .page-header__title--index {
    padding: 0 60px 30px;
    font-size: 40px;
    line-height: 48px; }
  .page-header__title--photo {
    padding-bottom: 82px; }

.nav {
  padding: 21px 0 0;
  text-transform: uppercase;
  background-color: inherit; }
  .nav--off {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 45px;
    padding: 21px 0 0;
    background-color: rgba(0, 0, 0, 0.3); }

.nav__wrapper {
  position: relative; }

.nav__logo {
  display: block;
  margin-left: 20px;
  outline: none; }

.nav__logo-img {
  width: 146px;
  height: 40px;
  fill: #ffffff; }
  .nav__logo[href]:hover .nav__logo-img,
  .nav__logo:focus .nav__logo-img {
    fill: #d22856; }
  .nav__logo[href]:active .nav__logo-img {
    fill: #ffffff;
    opacity: 0.3; }
  .nav__logo-img--tablet, .nav__logo-img--desktop {
    display: none; }

.nav__switch {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 24px;
  margin-right: 20px;
  overflow: hidden;
  text-indent: 100px;
  white-space: nowrap; }
  .nav__switch::before, .nav__switch::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 3px;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .nav__switch::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .nav__switch--off {
    width: 53px; }
    .nav__switch--off::before {
      top: 0;
      -webkit-transform: none;
              transform: none; }
    .nav__switch--off::after {
      -webkit-transform: none;
              transform: none;
      box-shadow: 0 10px 0 0 #ffffff; }
  .nav__switch--no-js {
    display: none; }
  .nav__switch:hover::before, .nav__switch:hover::after, .nav__switch:focus::before, .nav__switch:focus::after {
    background-color: #d22856; }
  .nav__switch--off:hover::after, .nav__switch--off:focus::after {
    box-shadow: 0 10px 0 0 #d22856; }
  .nav__switch:active {
    opacity: 0.3; }
    .nav__switch:active::before {
      background-color: #d22856; }
    .nav__switch:active::after {
      background-color: #d22856;
      box-shadow: 0 10px 0 0 #d22856; }

.nav__list {
  width: 100%;
  margin: 1px 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: inherit;
  border-top: solid 1px #000000;
  list-style: none; }
  .nav__list--off {
    display: none; }

.nav__item {
  padding: 6px 20px;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  border-bottom: solid 1px #000000; }

.nav__link {
  display: inline-block;
  padding: 9px 0;
  line-height: 32px;
  color: #ffffff;
  background-color: inherit;
  text-decoration: none;
  vertical-align: baseline; }
  .nav__link[href]:hover, .nav__link:focus {
    color: #d22856; }
  .nav__link[href]:active {
    color: #d22856;
    opacity: 0.3; }

.download {
  position: relative;
  margin: 0 0 21px;
  padding: 423px 20px 28px;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -69px;
  background-size: 700px auto; }
  .download--off {
    padding-top: 490px;
    background-position: center -3px; }
  .download::before {
    content: "";
    position: absolute;
    top: 109px;
    left: calc(50% - 160px);
    width: 258px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: contain; }
  .download--off::before {
    top: 176px; }

.download__mainlink {
  width: 234px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  color: inherit;
  border-color: #ffffff; }
  .download__mainlink:hover, .download__mainlink:focus {
    color: #d22856;
    background-color: #ffffff; }
  .download__mainlink:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #ffffff; }

.download__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1; }

.download__item {
  width: 47px;
  margin: 32px 17px 20px;
  overflow: hidden; }

.download__os {
  display: block;
  width: 47px;
  height: 56px;
  text-indent: 200px;
  white-space: nowrap;
  background-image: url("../img/bg-icons.svg");
  outline: none; }
  .download__os--ios {
    background-position: -99px -2896px; }
  .download__os--android {
    background-position: -99px -2641px; }
  .download__os--win {
    background-position: -100px -3142px; }

.download__descr {
  margin: 2px 20px;
  font-weight: 300;
  text-align: center; }

.page-content__descr {
  margin: 20px;
  padding: 20px 0;
  line-height: 30px;
  text-align: center; }
  .page-content__descr--photo {
    margin: 25px 35px 29px; }
  .page-content__descr--post {
    margin: 25px 20px 0;
    padding: 20px 0 0; }

.page-content__sect {
  padding: 20px 20px 0; }
  .page-content__sect--even {
    padding: 0 0 6px;
    background-color: #f2f2f2; }
  .page-content__sect--index {
    padding-bottom: 4px; }
  .page-content__sect--add {
    margin-top: 21px; }
  .page-content__sect--even::before {
    content: "";
    display: block;
    height: 32px;
    background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);
    border-bottom: solid 12px #f2f2f2; }

.page-content__lead {
  margin: 0 0 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center; }

.page-content__em {
  color: #d22856; }

.advantages {
  padding-bottom: 0; }
  .advantages::after {
    content: "";
    display: block;
    height: 287px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 157px auto; }

.advantages__list {
  margin: 37px 0 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.advantages__item {
  margin: 0 30px 31px; }

.advantages__lead {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #000000; }

.advantages__descr {
  width: 260px;
  margin: 12px auto 0; }

.effect {
  display: none; }

.effect__lead {
  margin: 0 20px 10px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000; }

.effect__descr {
  margin: 0 10px 11px 0; }

.effect__link {
  display: block;
  color: #d22856; }

.reviews {
  margin-bottom: 42px;
  line-height: 30px;
  text-align: center; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.reviews__author {
  margin: 22px 0 13px;
  font-weight: 700;
  font-size: 18px;
  color: #000000; }

.reviews__author-about {
  display: none; }

.reviews__text {
  width: 280px;
  margin: 0 auto; }

.reviews__nav {
  display: none; }
  .reviews__nav::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 7px;
    width: 28px;
    height: 28px;
    border-left: solid 2px #283645;
    border-bottom: solid 2px #283645;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .reviews__nav--prev {
    left: -1px; }
  .reviews__nav--next {
    right: -1px; }
    .reviews__nav--next::before {
      right: 7px;
      left: auto;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }

.slides__togglers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 34px 0 0;
  padding: 0;
  list-style: none; }

.slides__toggler {
  margin: 0 7px; }

.slides__btn {
  width: 12px;
  height: 12px;
  padding: 0;
  overflow: hidden;
  text-indent: 100px;
  white-space: nowrap;
  background-color: #283645;
  border: solid 3px #ffffff;
  border-radius: 50%;
  opacity: 0.3; }
  .slides__btn:hover, .slides__btn:focus {
    opacity: 0.6; }
  .slides__btn:active {
    opacity: 0.1; }
  .slides__btn--active {
    background-color: transparent;
    border-color: #283645;
    opacity: 1;
    cursor: default; }
    .slides__btn--active:hover, .slides__btn--active:focus, .slides__btn--active:active {
      opacity: 1; }

.slides__no-js {
  display: none; }

.tarifs {
  overflow: hidden;
  padding-bottom: 48px; }
  .tarifs::before {
    height: 24px; }

.tarifs__opts {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 834px;
  margin: 54px auto 39px;
  table-layout: fixed;
  line-height: 30px;
  text-align: center;
  border-collapse: collapse; }

.tarifs__title {
  width: 233px;
  padding: 16px 22px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #283645;
  border: solid 2px #e5e5e5;
  border-top: none;
  border-bottom: none; }
  .tarifs__title--hit {
    position: relative;
    overflow: hidden; }
  .tarifs__title--hit::before {
    content: "Хит";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    padding: 7px 5px 8px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    background-color: #d22856;
    -webkit-transform: rotate(-45deg) translate(4px, 22px);
            transform: rotate(-45deg) translate(4px, 22px); }

.tarifs__name {
  position: relative;
  z-index: 1;
  margin: 0;
  font-weight: 700;
  font-size: 18px; }

.tarifs__price {
  margin: 2px 0 4px;
  font-weight: 300;
  font-size: 24px; }

.tarifs__key {
  position: absolute;
  left: 278px;
  width: 160px;
  padding: 15px 22px 14px;
  text-transform: uppercase;
  text-align: left;
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  border-top-width: 0;
  border-right-width: 0;
  -webkit-transform: translateY(1px);
          transform: translateY(1px); }
  .tarifs__key--first {
    -webkit-transform: none;
            transform: none; }

.tarifs__val {
  padding: 12px 22px 14px;
  text-align: right;
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  border-top: none; }
  .tarifs__val:last-child {
    text-align: left; }
  .tarifs__val::before {
    content: "";
    display: inline-block;
    width: 33px;
    height: 33px;
    vertical-align: middle;
    background-image: url("../img/bg-icons.svg");
    background-position: -141px -3156px;
    background-size: 711px auto;
    -webkit-transform: translateX(8px);
            transform: translateX(8px); }
  .tarifs__val--no::before {
    background-position: -97px -740px;
    background-size: auto; }

.contacts {
  padding: 43px 0 0;
  text-align: center; }

.contacts__list {
  margin: 0 20px 40px;
  padding: 0;
  list-style: none; }

.contacts__item:first-child {
  -webkit-transform: translateY(6px);
          transform: translateY(6px); }

.contacts__param {
  margin: 26px 0 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px; }

.contacts__val {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #d22856; }

.contacts__link {
  font: inherit;
  text-decoration: none;
  color: inherit;
  outline: none; }
  .contacts__link:hover, .contacts__link:focus {
    color: #283645;
    text-decoration: underline; }
  .contacts__link:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none; }

.contacts__map {
  position: relative;
  height: 198px;
  background-color: #eceae4;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 320px auto; }
  .contacts__map::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 32px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 100% 32px; }

.photos {
  padding: 0; }

.photos__list {
  position: relative;
  width: 320px;
  margin: 0 auto 24px;
  padding: 0;
  list-style: none; }

.photos__item {
  width: 244px;
  margin: 20px auto;
  padding: 0 18px 20px;
  overflow: hidden;
  background-color: #f2f2f2; }
  .photos__item--lead {
    margin-top: 0;
    padding-top: 143px;
    padding-bottom: 20px; }
  .photos__item--lead::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;
    padding: 6px 20px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #d22856; }

.photos__lead {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 137px;
  margin: 0;
  overflow: hidden; }

.photos__img {
  position: relative;
  left: 50%;
  display: block;
  width: 280px;
  height: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .photos__img--lead {
    width: 320px; }

.photos__title {
  margin: 18px 0 0;
  font-weight: 700; }
  .photos__title--lead {
    margin: 12px 0 0; }

.photos__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase; }

.photos__descr {
  margin: 0; }

.photos__like {
  margin-top: 9px;
  margin-left: auto; }

.like {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856; }

.like__link {
  width: 13px;
  height: 24px;
  overflow: hidden;
  margin: 0 19px 0 0;
  text-indent: 100px;
  white-space: nowrap;
  color: inherit;
  background-image: url("../img/bg-icons.svg");
  background-position: -100px -314px;
  outline: none; }

.like__val {
  margin: 0; }

.add {
  padding: 20px 0 29px;
  background-color: #f2f2f2; }

.add__img {
  display: block;
  width: 280px;
  height: 374px;
  margin: 0 auto 38px;
  overflow: hidden;
  text-indent: 1000px;
  white-space: nowrap;
  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer; }

.add__submit {
  width: 276px;
  margin: 38px auto 0; }

.add__btn {
  width: 100%;
  margin: 11px 0 12px;
  color: #d22856;
  border-color: #d22856; }
  .add__btn:hover, .add__btn:focus {
    color: #ffffff;
    background-color: #d22856; }
  .add__btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d22856; }
  .add__btn--reset {
    color: #283645;
    border-color: #283645;
    opacity: 0.1; }
    .add__btn--reset:hover, .add__btn--reset:focus {
      color: #283645;
      background-color: transparent;
      opacity: 0.3; }
    .add__btn--reset:active {
      color: #ffffff;
      background-color: #283645;
      opacity: 0.3; }

.edit {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0 0 75px;
  overflow: hidden;
  list-style: none;
  border-bottom: solid 1px #dddfe0; }

.edit__item {
  margin: 0 16px; }

.edit__icon {
  width: 48px;
  height: 48px;
  fill: #283645; }

.edit__btn {
  width: 48px;
  height: 48px;
  padding: 4px 0;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0.3; }
  .edit__btn:hover, .edit__btn:focus {
    opacity: 0.5; }
  .edit__btn--active {
    cursor: default; }
  .edit__btn:active, .edit__btn--active, .edit__btn--active:hover, .edit__btn--active:focus {
    opacity: 1; }
  .edit__btn:active .edit__icon,
  .edit__btn--active .edit__icon,
  .edit__btn--active:hover .edit__icon,
  .edit__btn--active:focus .edit__icon {
    fill: #d22856; }

.edit__range {
  position: absolute;
  left: 50%;
  display: none;
  width: 240px;
  height: 14px;
  margin: 33px 0 0;
  background-image: linear-gradient(transparent 6px, #283645 6px, #283645 8px, transparent 8px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .edit__btn--active + .edit__range {
    display: block; }

.edit__range-btn {
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  text-indent: 100px;
  white-space: nowrap;
  background-color: #f2f2f2;
  border: solid 2px #d22856;
  border-radius: 50%; }
  .edit__range-btn--crop {
    left: 80.25%; }
  .edit__range-btn--fill {
    left: 12.5%; }
  .edit__range-btn--contrast {
    left: 47.5%; }
  .edit__range-btn:active {
    background-color: #d22856; }

.post {
  overflow: hidden;
  padding: 0;
  line-height: 30px; }

.post__group {
  position: relative;
  margin: 0;
  padding: 14px 20px 31px;
  border: none; }
  .post__group--checks {
    padding: 50px 20px 20px;
    background-color: #f2f2f2; }
  .post__group--person {
    padding: 33px 20px 26px; }
  .post__group--app {
    padding: 32px 20px 23px; }
    .post__group--app::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 18px;
      background-color: #f2f2f2; }
  .post__group--contacts {
    padding: 32px 20px 25px; }
  .post__group--adv {
    padding: 34px 20px 18px; }
    .post__group--adv::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 18px;
      background-color: #f2f2f2; }

.post__title {
  position: relative;
  top: 56px;
  width: 240px;
  padding: 0 20px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #d22856; }
  .post__title--app {
    top: 38px; }
  .post__title--contacts {
    display: none; }
  .post__title--descr {
    display: none; }
  .post__title--adv {
    top: 38px; }

.post__item-fields {
  margin: 0;
  padding-bottom: 16px; }

.post__label-fields {
  display: block;
  padding: 0 23px 6px;
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856; }
  .post__label-fields--contacts {
    padding-bottom: 5px; }
  .post__label-fields--descr {
    padding-top: 4px;
    padding-bottom: 10px;
    text-align: center; }

.post__field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 63px;
  padding: 14px 20px 15px;
  font: inherit;
  font-size: 18px;
  color: inherit;
  outline: none;
  border: solid 2px #e5e5e5;
  border-radius: 3px; }
  .post__field--contacts {
    margin-bottom: 1px; }
  .post__field--descr {
    min-height: 201px;
    margin-bottom: 17px;
    resize: none; }
  .post__field::-webkit-input-placeholder {
    color: inherit; }
  .post__field:-ms-input-placeholder {
    color: inherit; }
  .post__field::-ms-input-placeholder {
    color: inherit; }
  .post__field::placeholder {
    color: inherit; }
  .post__field:hover {
    border-color: #283645; }
  .post__field:focus {
    border-color: #d22856; }
  .post__field--invalid {
    border-color: #d22856;
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s; }

.post__item-checks {
  margin: 24px 0;
  font-size: 18px; }

.post__label {
  position: relative;
  display: inline-block;
  margin: 18px 0 0;
  padding: 5px 0 5px 69px;
  vertical-align: baseline;
  cursor: pointer; }
  .post__label::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
    border-radius: 3px; }
  .post__label::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 9px;
    width: 20px;
    height: 8px;
    border-left: solid 2px #d22856;
    border-bottom: solid 2px #d22856;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0; }
  .post__label--radio {
    margin-top: 16px;
    padding-bottom: 0; }
    .post__label--radio::before {
      border-radius: 50%; }
    .post__label--radio::after {
      top: 13px;
      left: 12px;
      width: 15px;
      height: 15px;
      background-color: #d22856;
      border: none;
      border-radius: 50%; }
  .post__checker:checked + .post__label::after,
  .post__checker:not(:checked):not(:disabled) + .post__label:active::after {
    opacity: 1; }
  .post__checker:checked:not(:disabled) + .post__label:active::after {
    opacity: 0; }
  .post__label:hover:not(:disabled)::before, .post__label:focus::before {
    border-color: #283645;
    cursor: pointer; }
  .post__label:active:not(:disabled)::before {
    border-color: #d22856; }

.post__btn {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding-top: 16px; }

.post__descr {
  margin: 35px 0 15px;
  text-transform: uppercase;
  text-align: center; }

.modal {
  width: 100%;
  margin: 60px auto;
  padding: 0 0 50px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15); }
  .modal--success {
    background-color: #f2f2f2; }
  .modal--js {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }
  .modal--opened {
    display: block; }

.modal__lead {
  margin: 0;
  padding: 40px 20px 25px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff; }

.modal__descr {
  margin: 0;
  padding: 0 20px 35px;
  background-color: #ffffff; }

.modal__btn {
  width: calc(100% - 40px);
  margin: 0 20px;
  line-height: 30px; }
  .modal__btn--success {
    margin-top: 45px; }

.page-footer {
  padding: 40px; }

.page-footer__item {
  display: table;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto; }
  .page-footer__item--logo {
    margin: 0 auto; }

.page-footer__logo {
  outline: none; }

.page-footer__logo-img {
  width: 146px;
  height: 40px;
  fill: #283645; }
  .page-footer__logo[href]:hover .page-footer__logo-img,
  .page-footer__logo:focus .page-footer__logo-img {
    fill: #d22856; }
  .page-footer__logo[href]:active .page-footer__logo-img {
    fill: #283645;
    opacity: 0.3; }
  .page-footer__logo-img--desktop {
    display: none; }

.page-footer__socials {
  margin: 32px 0 38px; }

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none; }

.socials__item {
  margin: 0 6px; }

.socials__link {
  display: block;
  width: 25px;
  height: 25px;
  padding: 10px;
  overflow: hidden;
  text-indent: 200px;
  white-space: nowrap;
  background-image: url("../img/bg-icons.svg");
  border: solid 3px #e9ebec;
  border-radius: 50%; }
  .socials__link--tw {
    background-position: -86px -1986px; }
  .socials__link--fb {
    background-position: -82px -88px; }
  .socials__link--youtube {
    background-position: -83px -2419px; }
  .socials__link:hover, .socials__link:focus {
    border-color: #283645;
    outline: none; }
  .socials__link:active {
    border-color: rgba(40, 54, 69, 0.1);
    opacity: 0.3; }

.dev {
  position: relative;
  padding: 8px 42px 8px 0;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  text-align: right;
  outline: none; }

.dev__img {
  position: absolute;
  top: 0;
  right: 0;
  fill: #d22856; }
  .dev:hover .dev__img,
  .dev:focus .dev__img {
    fill: #283645; }
  .dev:active .dev__img {
    fill: #283645;
    opacity: 0.3; }
  @media (max-width: 659px) {
  /* Только мобильная версия */
  .page__footer--index {
    display: none; }
    .page-header__title--index {
      display: none; }
  .page-content__descr-add {
    display: none; }
    .tarifs__title:nth-of-type(2) {
      text-align: right; }
    .tarifs__title:last-of-type {
      text-align: left; } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  /* Версия для retina-дисплеев */
    .page-header {
      background-image: url("../img/bg-back-mobile@2x.jpg"); }
      .page-header--index {
        background-image: none; }
    .download {
      background-image: url("../img/bg-back-mobile@2x.jpg"); }
      .download::before {
        background-image: url("../img/iphone-hand-mobile@2x.png"); }
      .advantages::after {
        background-image: url("../img/iphone-screen-mobile@2x.png"); }
    .contacts__map {
      background-image: url("../img/bg-map-mobile@2x.jpg"); }
    .add__img {
      background-image: url("../img/photo-road-mobile@2x.jpg"); } }
  @media (min-width: 660px) {
  /* Планшетная версия */
    .page-header {
      margin-bottom: 30px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-size: 1200px auto;
      background-position: center bottom -289px; }
      .page-header--index {
        background-position: center bottom; }
    .page-header__title {
      min-height: 170px;
      padding: 70px 80px 79px;
      font-size: 50px;
      line-height: 60px; }
      .page-header__title--index {
        padding: 63px 40px 5px;
        font-size: 40px;
        line-height: 48px; }
      .page-header__title--photo {
        width: 360px;
        margin: 0 auto;
        padding: 70px 80px 89px; }
    .nav {
      padding: 3px 0 0; }
      .nav--off {
        z-index: 2;
        height: auto;
        padding: 3px 0 43px; }
    .nav__logo {
      margin-top: 24px; }
    .nav__logo-img {
      display: none; }
      .nav__logo-img--tablet {
        display: block; }
    .nav__switch {
      top: 17px;
      right: 0; }
    .nav__list {
      margin-top: 42px; }
    .download {
      z-index: 1;
      margin: 0 auto 0;
      width: 300px;
      padding: 29px 340px 108px 20px;
      background-color: transparent;
      background-image: none; }
      .download--off {
        padding-top: 140px; }
      .download::before {
        top: auto;
        bottom: 0;
        left: -20px;
        z-index: -1;
        width: 100%;
        height: 545px;
        background-image: url("../img/iphone-hand-tablet@1x.png");
        background-size: 700px auto; }
    .download__mainlink {
      width: 254px; }
    .download__item {
      margin: 45px 17px 0; }
    .download__descr {
      margin: 37px 0 2px;
      font-size: 18px; }
    .page-content__descr {
      font-size: 18px; }
      .page-content__descr--photo {
        width: 560px;
        margin: 72px auto 56px; }
      .page-content__descr--post {
        margin: 72px 60px 38px; }
      .page-content__sect--index {
        padding-bottom: 6px; }
      .page-content__sect--add {
        margin-top: 49px; }
      .page-content__sect--even::before {
        height: 50px; }
    .page-content__lead {
      margin: 0;
      font-size: 40px;
      line-height: 48px; }
    .advantages {
      position: relative;
      margin-top: 40px;
      overflow: hidden; }
      .advantages::after {
        position: absolute;
        bottom: 0;
        left: calc(50% - 310px);
        z-index: 1;
        width: 268px;
        height: 481px;
        background-image: url("../img/iphone-screen-3-tablet@1x.png");
        background-position: center top;
        background-size: 268px auto; }
    .advantages__list {
      width: 350px;
      margin: 12px auto 0;
      padding: 0 0 9px 310px;
      text-align: left; }
    .advantages__item {
      margin: 0 20px 34px; }
    .advantages__descr {
      width: 100%;
      margin: 12px 0 0; }
    .effect {
      display: block;
      min-height: 213px;
      padding: 96px 20px 30px 330px;
      background-image: url("../img/bg-icons.svg");
      background-repeat: no-repeat;
      background-position: -59px -1105px;
      background-size: 398px auto; }
    .reviews {
      margin-bottom: 22px;
      padding-top: 64px;
      font-size: 18px; }
  .reviews__item {
    display: flex;
    flex-direction: column;
    padding-top: 30px; }
    .reviews__item.slides__no-js {
      display: none; }
    .reviews__author {
      margin: 20px 0 2px;
      font-size: 20px; }
    .reviews__author-about {
      display: block;
      margin: 0;
      font-size: 14px; }
    .reviews__text {
      order: -1;
      width: 100%;
      margin: 0 0 15px; }
    .tarifs {
      padding-bottom: 43px; }
      .tarifs::before {
        height: 50px; }
    .tarifs__opts {
      position: static;
      width: calc(100% - 40px);
      margin: 25px auto;
      text-transform: none;
      -webkit-transform: none;
              transform: none; }
    .tarifs__title {
      width: auto;
      padding: 12px 20px 6px; }
      .tarifs__title--hit::before {
        -webkit-transform: rotate(-45deg) translate(8px, 15px);
                transform: rotate(-45deg) translate(8px, 15px); }
    .tarifs__name {
      font-size: 16px; }
    .tarifs__price {
      margin: 0;
      font-size: 18px; }
    .tarifs__key {
      position: static;
      width: auto;
      padding: 7px 15px 8px;
      text-transform: none;
      border-top-width: 2px;
      border-right-width: 2px;
      -webkit-transform: none;
              transform: none; }
    .tarifs__val {
      padding: 5px 15px 7px;
      text-align: center; }
      .tarifs__val:last-child {
        text-align: center; }
      .tarifs__val::before {
        -webkit-transform: none;
                transform: none; }
  .tarifs__togglers {
    display: none; }
    .contacts {
      padding-top: 46px; }
    .contacts__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 8px 29px; }
    .contacts__item:first-child {
      -webkit-transform: none;
              transform: none; }
  .contacts__item {
    width: 50%; }
    .contacts__param {
      margin-top: 45px; }
    .contacts__val {
      margin-bottom: 4px; }
    .contacts__map {
      height: 372px;
      background-image: url("../img/bg-map-tablet@1x.jpg");
      background-position: center -349px;
      background-size: 700px auto; }
      .contacts__map::before {
        height: 67px;
        background-size: 100% 67px; }
    .photos__list {
      width: 640px;
      margin: 0 auto 25px;
      display: flex;
      flex-wrap: wrap; }
    .photos__item {
      width: 264px;
      margin: 0 10px 20px;
      padding-bottom: 22px; }
      .photos__item--lead {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 620px;
        margin: 0 10px 50px;
        padding-top: 515px;
        padding-bottom: 12px; }
      .photos__item--lead::before {
        top: 57px;
        right: 10px; }
    .photos__lead {
      width: 660px;
      height: 509px;
      left: -10px; }
    .photos__img {
      width: 300px; }
      .photos__img--lead {
        width: 700px; }
    .photos__title {
      margin: 24px 10px 0; }
      .photos__title--lead {
        margin: 18px auto 0 10px; }
    .photos__descr {
      margin: 0 10px;
      min-height: 48px;
      margin-bottom: 12px; }
    .photos__descr--lead {
      order: 1; }
    .photos__like {
      margin: auto 10px 0; }
    .like {
      justify-content: space-between;
      padding-right: 4px; }
      .like--lead {
        padding-right: 0; }
    .like__link {
      order: 1;
      margin: 0; }
      .like__link--lead {
        margin: 0 0 0 19px; }
    .add {
      position: relative;
      width: calc(100% - 385px);
      padding: 57px 20px 30px 365px; }
    .add__img {
      position: absolute;
      top: 57px;
      left: 20px;
      width: 300px;
      height: 400px;
      margin: 0;
      background-image: url("../img/photo-road-tablet@1x.jpg"); }
    .add__submit {
      width: calc(100% - 15px);
      margin: 0 0 0 2px; }
    .add__btn {
      margin-bottom: 24px; }
    .edit {
      display: block;
      padding-bottom: 34px;
      border: none; }
    .edit__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0 22px;
      padding: 0 18px 20px 0;
      border-bottom: solid 1px #dddfe0; }
      .edit__item:nth-child(2) {
        margin-bottom: 19px; }
    .edit__icon {
      width: 30px;
      height: 30px;
      fill: #d22856; }
    .edit__btn {
      width: 30px;
      height: 30px;
      padding: 0;
      opacity: 1; }
      .edit__btn:hover, .edit__btn:focus {
        opacity: 0.5; }
      .edit__btn:hover .edit__icon,
      .edit__btn:focus .edit__icon {
        fill: #283645; }
      .edit__btn:active, .edit__btn--active, .edit__btn--active:hover, .edit__btn--active:focus {
        opacity: 1; }
      .edit__btn:active .edit__icon,
      .edit__btn--active .edit__icon,
      .edit__btn--active:hover .edit__icon,
      .edit__btn--active:focus .edit__icon {
        fill: #d22856; }
    .edit__range {
      position: relative;
      left: 101px;
      display: block;
      width: 202px;
      margin: 0;
      border-bottom: none; }
      .edit__range-btn--crop {
        left: 72.5%; }
    .post {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
    .post__group {
      width: 100%;
      margin: 20px 20px 37px; }
      .post__group--checks {
        background-color: transparent; }
      .post__group--person {
        order: -3;
        margin: 0;
        padding-bottom: 14px; }
      .post__group--app {
        order: -2;
        margin: 0 20px 31px;
        padding: 14px 20px 32px 58px; }
      .post__group--app::before {
        content: none; }
      .post__group--contacts {
        order: -1;
        margin-top: 34px;
        padding: 38px 58px 4px; }
      .post__group--adv {
        margin-top: 28px;
        padding: 14px 58px 19px; }
      .post__group--adv::before {
        content: none; }
      .post__group--descr {
        margin: 28px 20px 20px;
        padding: 31px 58px 11px; }
      .post__group--named {
        border: solid 2px #e6e6e6; }
    .post__title {
      position: absolute;
      top: 0;
      left: 50%;
      padding: 0 25px;
      line-height: 30px;
      white-space: nowrap;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-color: #ffffff; }
      .post__title--app {
        width: 318px; }
      .post__title--contacts {
        display: block;
        padding: 0 31px; }
      .post__title--descr {
        display: block;
        width: 184px;
        padding: 0 38px; }
      .post__title--adv {
        width: 370px;
        padding: 0 32px; }
    .post__item-fields {
      display: flex;
      align-items: center;
      padding-bottom: 52px; }
    .post__item-fields--contacts {
      flex-direction: column-reverse;
      padding-top: 7px;
      padding-bottom: 12px; }
    .post__label-fields {
      padding: 0 18px 0 0; }
      .post__label-fields--contacts {
        align-self: flex-start;
        margin: 10px 20px; }
      .post__label-fields--descr {
        display: none; }
      .post__field--contacts {
        margin-bottom: 0;
        background-image: url("../img/bg-icons.svg"), linear-gradient(to left, #e5e5e5 60px, transparent 60px);
        background-repeat: no-repeat;
        background-position: right -359px top -508px, 0 0; }
    .post__field--tel {
      background-position: right -358px top -952px, 0 0; }
      .post__field--descr {
        min-height: 193px;
        margin-bottom: 40px; }
    .post__label {
      padding: 0 0 10px 59px; }
      .post__label::before {
        top: -4px; }
      .post__label::after {
        top: 7px; }
      .post__label--radio {
        padding: 2px 0 3px 59px; }
      .post__label--radio::before {
        top: -2px; }
      .post__label--radio::after {
        top: 10px; }
    .post__btn {
      width: 300px;
      margin: 47px 0 50px 20px; }
    .post__descr {
      width: 300px;
      margin: 50px 0 50px 20px;
      text-align: right; }
    .modal {
      width: 460px; }
    .modal__lead {
      padding: 40px 100px 25px;
      font-size: 30px;
      line-height: 40px; }
    .modal__descr {
      padding: 0 75px 35px;
      font-size: 18px; }
    .modal__btn {
      width: calc(100% - 160px);
      margin-right: 80px;
      margin-left: 80px; }
    .page-footer {
      display: flex;
      align-items: center;
      padding: 39px 18px 29px; }
    .page-footer__item {
      width: 200px; }
      .page-footer__item--logo {
        margin: 0 auto 0 0;
        -webkit-transform: translate(2px, -13px);
                transform: translate(2px, -13px); }
    .page-footer__socials {
      margin: 0 auto 8px; }
  .page-footer__dev {
    margin-right: 2px; }
    .dev {
      padding-top: 6px;
      padding-bottom: 14px; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 1.5dppx) {
  /* Планшетная версия для retina-дисплеев */
    .page-header {
      background-image: url("../img/bg-back-tablet@2x.jpg"); }
      .download::before {
        background-image: url("../img/iphone-hand-tablet@2x.png"); }
      .advantages::after {
        background-image: url("../img/iphone-screen-3-tablet@2x.png"); }
    .contacts__map {
      background-image: url("../img/bg-map-tablet@2x.jpg"); }
    .add__img {
      background-image: url("../img/photo-road-tablet@2x.jpg"); } }
  @media (min-width: 960px) {
  /* Десктопная версия */
  .page__container {
    width: 940px;
    margin: 0 auto; }
    .page__desktop {
      display: block; }
      .page__desktop--inline {
        display: inline; }
    .page-header {
      margin-top: 0;
      padding-top: 0;
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-size: 2560px auto;
      background-position: center top; }
      .page-header--index {
        margin-bottom: 47px; }
    .page-header__title {
      width: 940px;
      margin: 0 auto;
      padding: 63px 0 51px; }
      .page-header__title--index {
        width: 260px;
        margin: 0;
        padding: 0 20px 50px;
        font-size: 50px;
        line-height: 60px; }
      .page-header__title--photo {
        width: 360px;
        padding: 63px 0 51px; }
    .nav {
      align-items: center;
      padding: 27px 0 0;
      background-color: rgba(0, 0, 0, 0.3); }
      .nav--off {
        position: static;
        padding: 27px 0 0; }
    .nav__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .nav__logo {
      margin-top: 0;
      margin-left: 0; }
    .nav__logo-img--tablet {
      display: none; }
    .nav__logo-img--desktop {
      display: block; }
    .nav__switch {
      display: none; }
    .nav__list {
      display: flex;
      flex-wrap: wrap;
      width: 702px;
      margin: 13px 0 0;
      font-weight: 400;
      line-height: 1;
      background-color: transparent;
      border: none; }
      .nav__list--off {
        display: flex; }
    .nav__item {
      padding: 5px 0 47px 80px;
      border: none; }
    .nav__link {
      padding: 0;
      line-height: 18px;
      text-transform: none; }
      .nav__link[href]:active {
        color: #ffffff; }
    .nav__link--current {
      position: relative; }
    .nav__link--current::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffffff; }
    .download {
      margin: 0 auto 40px;
      padding: 110px 640px 100px 0; }
      .download::before {
        right: 20px;
        left: auto;
        height: 645px;
        background-position: right -147px bottom 0;
        background-image: url("../img/iphone-hand-desktop@1x.png");
        background-size: 1050px auto; }
    .download__mainlink {
      padding: 14px 20px;
      font-size: 21px; }
    .download__item {
      margin: 67px 17px 30px; }
    .download__descr {
      margin: 25px 0 22px; }
      .page-content__descr--photo {
        width: 600px;
        margin: 72px auto 68px; }
      .page-content__descr--post {
        width: 760px;
        margin: 72px auto 34px; }
      .page-content__sect--add {
        margin-top: 50px; }
      .page-content__sect--even::before {
        height: 97px; }
    .page-content__lead {
      font-size: 50px;
      line-height: 60px; }
    .advantages {
      margin-top: 70px; }
      .advantages::after {
        display: none; }
    .advantages__list {
      display: flex;
      flex-wrap: wrap;
      width: 960px;
      margin: 0 auto;
      padding: 0;
      line-height: 30px; }
    .advantages__item {
      position: relative;
      z-index: 1;
      width: 300px;
      margin: 193px 10px 0;
      text-align: center; }
      .advantages__item:nth-of-type(n+4) {
        margin-top: 350px; }
      .advantages__item::before {
        content: "";
        position: absolute;
        top: -302px;
        left: 4px;
        z-index: -2;
        width: 292px;
        height: 302px;
        background-image: url("../img/iphone-screen-1-desktop@1x.png");
        background-repeat: no-repeat;
        background-size: 292px auto; }
      .advantages__item--2::before {
        background-image: url("../img/iphone-screen-2-desktop@1x.png"); }
      .advantages__item--3::before {
        background-image: url("../img/iphone-screen-3-desktop@1x.png"); }
      .advantages__item::after {
        content: "";
        position: absolute;
        top: 7px;
        left: 2%;
        z-index: -1;
        width: 96%;
        height: 40px;
        background-color: #ffffff;
        border-radius: 50%/15px;
        box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.15); }
    .advantages__lead {
      padding: 55px 30px 0;
      font-size: 30px;
      background-color: #f2f2f2; }
    .advantages__descr {
      width: 240px;
      margin: 24px 30px 0;
      font-size: 18px; }
    .effect {
      padding: 160px calc(50% - 470px) 105px calc(50% - 104px);
      font-size: 18px;
      line-height: 30px;
      background-color: #f2f2f2;
      background-position: calc(50% - 320px) -1390px;
      background-size: auto; }
    .effect__lead {
      margin-bottom: 24px;
      line-height: 30px; }
    .effect__descr {
      margin-bottom: 30px; }
    .reviews {
      position: relative;
      width: 940px;
      margin: 0 auto 40px;
      padding: 0; }
  .reviews__item {
    position: relative;
    padding-top: 180px; }
    .reviews__item::before {
      content: "";
      position: absolute;
      top: 71px;
      left: 433px;
      width: 77px;
      height: 64px;
      background-image: url("../img/bg-icons.svg");
      background-repeat: no-repeat;
      background-position: -100px -1192px; }
    .reviews__author {
      font-size: 24px; }
    .reviews__author-about {
      font-size: 18px; }
    .reviews__text {
      width: 700px;
      padding: 5px 120px 0; }
    .reviews__nav {
      position: absolute;
      top: 212px;
      display: block;
      width: 23px;
      height: 42px;
      overflow: hidden;
      text-indent: 100px;
      white-space: nowrap;
      opacity: 0.3; }
      .reviews__nav:hover, .reviews__nav:focus {
        opacity: 0.6; }
      .reviews__nav:active {
        opacity: 0.1; }
    .slides__togglers {
      display: none; }
      .tarifs::before {
        height: 85px; }
    .tarifs__opts {
      width: 940px;
      margin: 53px auto 52px;
      font-size: 18px; }
    .tarifs__title {
      padding: 16px 10px; }
      .tarifs__title--hit::before {
        font-size: 14px;
        -webkit-transform: rotate(-45deg) translate(6px, 24px);
                transform: rotate(-45deg) translate(6px, 24px); }
    .tarifs__name {
      font-size: 18px; }
    .tarifs__price {
      margin: 1px 0 4px;
      font-size: 24px; }
    .tarifs__key {
      padding: 14px 21px 15px; }
    .contacts {
      padding-top: 64px; }
    .contacts__list {
      justify-content: space-between;
      width: 940px;
      margin: 13px auto 20px; }
  .contacts__item {
    width: 260px;
    padding: 0 20px; }
    .contacts__item--address {
      order: -1; }
    .contacts__item:first-child {
      order: -2; }
    .contacts__val {
      margin-top: 25px; }
    .contacts__map {
      height: 500px;
      background-image: url("../img/bg-map-desktop@1x.jpg");
      background-size: 1200px auto;
      background-position: center -279px; }
      .contacts__map::before {
        height: 102px;
        background-size: 100% 102px; }
    .photos__list {
      width: 100%;
      box-sizing: border-box;
      padding: 0 calc(50% - 480px);
      margin-bottom: 20px; }
    .photos__item {
      margin-top: 34px; }
      .photos__item--lead {
        width: 100%;
        margin: 0 10px 16px; }
      .photos__item--lead::before {
        top: 54px;
        right: calc(50% - 470px); }
    .photos__lead {
      width: 100%;
      height: 506px;
      left: 0; }
      .photos__img--lead {
        width: 1200px; }
    .photos__title {
      margin-top: 24px; }
      .photos__title--lead {
        margin-top: 15px; }
    .photos__descr--lead {
      min-height: auto;
      margin-bottom: 11px; }
    .like--lead {
      padding-right: 4px; }
    .add {
      width: 470px;
      margin: 45px auto 62px;
      padding: 57px 0 33px 470px; }
    .add__img {
      left: 80px;
      background-image: url("../img/photo-road-desktop@1x.jpg"); }
    .add__submit {
      display: flex;
      justify-content: space-between;
      width: 410px;
      margin: 79px 0 0; }
    .add__btn {
      width: 183px; }
    .edit {
      top: -4px;
      padding-bottom: 39px; }
    .edit__item {
      margin: 0 60px 13px 0;
      padding-bottom: 11px; }
      .edit__item:nth-child(2) {
        margin-bottom: 10px; }
    .edit__icon {
      width: 48px;
      height: 48px; }
    .edit__btn {
      width: 48px;
      height: 48px; }
    .edit__range {
      left: 144px;
      width: 288px;
      margin-right: 12px; }
      .edit__range-btn--crop {
        left: 24.5%; }
      .edit__range-btn--fill {
        left: 85.75%; }
      .edit__range-btn--contrast {
        left: 55.5%; }
    .post__group {
      padding: 14px 20px 31px; }
      .post__group--checks {
        margin: 0;
        padding: 50px 20px 20px; }
      .post__group--person {
        width: 435px;
        padding: 52px 0 0 0; }
      .post__group--app {
        width: 391px;
        margin: 9px 0 17px auto;
        padding: 39px 20px 36px 20px; }
      .post__group--contacts {
        margin: 13px auto 0;
        padding: 27px 58px 0; }
      .post__group--adv {
        margin-top: 65px;
        margin-bottom: 57px;
        padding: 35px 58px 29px; }
      .post__group--descr {
        margin: 8px 0 30px;
        padding: 28px 58px 18px; }
      .post__title--app {
        left: 31px;
        margin: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
  .post__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .post__item-fields--contacts {
      width: 375px;
      padding-top: 15px; }
    .post__label-fields {
      padding: 0 19px 0 0; }
      .post__label-fields--contacts {
        margin-bottom: 1px; }
      .post__field--descr {
        min-height: 128px;
        margin-bottom: 25px; }
    .post__item-checks {
      margin: 0; }
    .post__label {
      margin: 21px 0; }
      .post__label--radio {
        margin-top: 18px;
        margin-left: 54px; }
    .post__btn {
      margin: 35px 0 0; }
    .post__descr {
      width: auto;
      margin: 37px 0 0 auto; }
    .modal {
      width: 780px; }
      .modal--error {
        background-color: #f2f2f2; }
    .modal__btn {
      margin-right: auto;
      margin-left: auto; }
      .modal__btn--success {
        width: 460px; }
      .modal__btn--error {
        width: 300px;
        margin-top: 45px; }
    .page-footer {
      width: 940px;
      padding: 40px 0 29px;
      margin: 35px auto; }
    .page-footer__logo-img {
      display: none; }
      .page-footer__logo-img--desktop {
        display: block; }
    .dev {
      font-size: 18px; } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 1.5dppx) {
  /* Десктопная версия для retina-дисплеев */
    .page-header {
      background-image: url("../img/bg-back-desktop@2x.jpg"); }
      .download::before {
        background-image: url("../img/iphone-hand-desktop@2x.png"); }
    .advantages__item::before {
      background-image: url("../img/iphone-screen-1-desktop@2x.png"); }
    .advantages__item--2::before {
      background-image: url("../img/iphone-screen-2-desktop@2x.png"); }
    .advantages__item--3::before {
      background-image: url("../img/iphone-screen-3-desktop@2x.png"); }
    .contacts__map {
      background-image: url("../img/bg-map-desktop@2x.jpg"); }
    .add__img {
      background-image: url("../img/photo-road-desktop@2x.jpg"); } }
