.advantages {
  padding-bottom: 0;

  @media ($tablet) {
    position: relative;
    margin-top: 40px;
    overflow: hidden;
  }

  @media ($desktop) {
    margin-top: 71px;
  }

  &::after {
    content: "";
    display: block;
    height: 287px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center bottom -43px;

    @media ($tablet) {
      position: absolute;
      bottom: -1px;
      left: calc(50% - 330px);
      z-index: 1;
      width: 100%;
      height: 482px;
      background-image: url("../img/iphone-screen-tablet@1x.png");
      background-position: left 20px bottom -65px;
    }

    @media ($desktop) {
      display: none;
    }
  }
}

.advantages__list {
  margin: 37px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media ($tablet) {
    width: 350px;
    margin: 12px auto 0;
    padding: 0 0 9px 310px;
    text-align: left;
  }

  @media ($desktop) {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    line-height: 30px;
  }
}

.advantages__item {
  margin: 0 20px 31px;

  @media($tablet) {
    margin-bottom: 34px;
  }

  @media ($desktop) {
    position: relative;
    z-index: 1;
    width: 300px;
    margin: 190px 0 0;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 2%;
      z-index: -1;
      width: 96%;
      height: 40px;
      background-color: #ffffff;
      border-radius: 50%/15px;
      box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.advantages__lead {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #000000;

  @media ($desktop) {
    padding: 57px 30px 0 ;
    font-size: 30px;
    background-color: #f2f2f2;
  }
}

.advantages__descr {
  margin: 12px 0 0;

  @media ($desktop) {
    margin: 24px 30px 0;
    font-size: 18px;
  }
}
