.advantages {
  padding-bottom: 0;

  @media ($tablet) {
    position: relative;
    margin-top: 40px;
    overflow: hidden;
  }

  @media ($desktop) {
    margin-top: 70px;
  }

  &::after {
    content: "";
    display: block;
    height: 287px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 157px auto;

    @media ($retina) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }

    @media ($tablet) {
      position: absolute;
      bottom: 0;
      left: calc(50% - 310px);
      z-index: 1;
      width: 268px;
      height: 481px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-size: contain;
    }

    @media ($tablet) and ($retina) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }

    @media ($desktop) {
      display: none;
    }
  }
}

.advantages__list {
  margin: 37px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media ($tablet) {
    width: 350px;
    margin: 12px auto 0;
    padding: 0 0 9px 310px;
    text-align: left;
  }

  @media ($desktop) {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    line-height: 30px;
  }
}

.advantages__item {
  margin: 0 20px 31px;

  @media ($tablet) {
    margin-bottom: 34px;
  }

  @media ($desktop) {
    position: relative;
    z-index: 1;
    width: 300px;
    margin: 193px 0 0;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: -302px;
      left: 4px;
      z-index: -2;
      width: 292px;
      height: 302px;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 292px auto;
    }

    &--2::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &--3::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 2%;
      z-index: -1;
      width: 96%;
      height: 40px;
      background-color: #ffffff;
      border-radius: 50%/15px;
      box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }

  @media ($desktop) and ($retina) {
    &::before {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }

    &--2::before {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }

    &--3::before {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }
  }
}

.advantages__lead {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #000000;

  @media ($desktop) {
    padding: 55px 30px 0;
    font-size: 30px;
    background-color: #f2f2f2;
  }
}

.advantages__descr {
  margin: 12px 0 0;

  @media ($desktop) {
    margin: 24px 30px 0;
    font-size: 18px;
  }
}
