.contacts {
  padding: 43px 0 0;
  line-height: 1.2;
  text-align: center;
}

.contacts__list {
  margin: 0 20px 40px;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  @media ($desktop) {
    width: 940px;
    margin: 0 auto 20px;
  }
}

.contacts__item {
  &:first-child {
    transform: translateY(6px);
  }

  @media ($tablet) {
    width: 50%;
  }

  @media ($desktop) {
    width: 260px;
    padding: 0 20px;

    &--address {
      order: -1;
    }

    &:first-child {
      order: -2;
    }
  }
}

.contacts__param {
  margin: 26px 0 6px;
  font-weight: 700;
  font-size: 18px;

  @media ($tablet) {
    margin-top: 50px;
  }
}

.contacts__val {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  color: $pink;

  @media ($desktop) {
    margin-top: 30px;
  }
}

.contacts__link {
  font: inherit;
  text-decoration: none;
  color: inherit;
  outline: none;

  &:hover,
  &:focus {
    color: $asphalt;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
    text-decoration: none;
  }
}

.contacts__map {
  position: relative;
  height: 198px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media ($tablet) {
    height: 380px;
    background-image: url("../img/bg-map-tablet@1x.png");
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: center;
    border: solid 160px transparent;
    border-top: solid 32px #ffffff;
    transform: translate(-50%, -1px);

    @media ($tablet) {
      border: solid 330px transparent;
      border-top: solid 60px #ffffff;
    }

    @media ($desktop) {
      border: solid 470px transparent;
      border-top: solid 100px #ffffff;
    }
  }
}
