.download {
  position: relative;
  margin: 396px 0 21px;
  padding: 28px 20px;
  background-color: #283645;

  @media ($tablet) {
    z-index: 1;
    margin: 0 auto 0;
    width: 300px;
    padding: 74px 340px 108px 20px;
    background-color: transparent;
  }

  @media ($desktop) {
    margin: 0 auto 40px;
    padding: 110px 640px 100px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -286px;
    left: calc(50% - 160px);
    width: 258px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media ($retina) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }

    @media ($tablet) {
      top: auto;
      bottom: 0;
      left: -20px;
      z-index: -1;
      width: 100%;
      height: 545px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-size: 700px auto;
    }

    @media ($tablet) and ($retina) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }

    @media ($desktop) {
      right: 20px;
      left: auto;
      height: 645px;
      background-position: right -147px bottom 0;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-size: 1050px auto;
    }

    @media ($desktop) and ($retina) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}

.download__mainlink {
  width: 254px;
  padding-right: 10px;
  padding-left: 10px;
  color: inherit;
  border-color: #ffffff;

  @media ($desktop) {
    padding: 14px 20px;
    font-size: 21px;
  }

  &:hover,
  &:focus {
    color: $pink;
    background-color: #ffffff;
  }

  &:active {
    color: $pink-pale;
  }
}

.download__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1;
}

.download__item {
  width: 47px;
  margin: 32px 17px 20px;
  overflow: hidden;

  @media ($tablet) {
    margin: 45px 17px 0;
  }

  @media ($desktop) {
    margin: 67px 17px 30px;
  }
}

.download__os {
  display: block;
  width: 47px;
  height: 56px;
  text-indent: 200px;
  white-space: nowrap;
  background-image: url("../img/bg-icons.svg");
  outline: none;

  &--ios {
    background-position: -99px -2896px;
  }

  &--android {
    background-position: -99px -2641px;
  }

  &--win {
    background-position: -100px -3142px;
  }
}

.download__descr {
  margin: 2px 0;
  font-weight: 300;
  text-align: center;

  @media ($tablet) {
    margin-top: 37px;
    font-size: 18px;
  }

  @media ($desktop) {
    margin-top: 25px;
    margin-bottom: 22px;
  }
}
