.edit {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
  padding: 0 0 75px;
  list-style: none;
  border-bottom: solid 1px #dddfe0;

  @media ($tablet) {
    flex-direction: column;
  }
}

.edit__item {
  margin: 0 17px;

  @media ($tablet) {
    display: flex;
    margin: 0 20px 0 0;
    border-bottom: solid 1px #dddfe0;
  }

  @media ($desktop) {
    margin-right: 60px;
  }
}

.edit__btn {
  padding: 10px 0;
  color: $asphalt;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active,
  &--active {
    color: $pink;
    opacity: 1;
  }
}

.edit__range {
  position: absolute;
  left: 0;
  display: none;
  width: calc(100% - 80px);
  height: 14px;
  margin: 33px 38px 0;
  background-image: linear-gradient(transparent 6px, $asphalt 6px, $asphalt 8px, transparent 8px);

  .edit__btn--active + & {
    display: block;
  }

  @media ($tablet) {
    position: relative;
    display: block;
    margin-left: 30px;
    border-bottom: none;
  }
}

.edit__range-btn {
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  text-indent: 100px;
  white-space: nowrap;
  background-color: #f2f2f2;
  border: solid 2px $pink;
  border-radius: 50%;

  &--crop {
    left: 80.25%;

    @media ($tablet) {
      left: 24.65%;
    }
  }

  &--fill {
    left: 85.76%;
  }

  &--contrast {
    left: 55.55%;
  }

  &:active {
    background-color: $pink;
  }
}
