.effect {
  display: none;

  @media ($tablet) {
    display: block;
    padding: 96px 20px 30px 330px;
    background-image: url("../img/bg-icons.svg");
    background-repeat: no-repeat;
    background-position: -59px -1105px;
    background-size: 398px auto;
  }

  @media ($desktop) {
    padding: 160px $contain 114px calc(50% - 104px);
    font-size: 18px;
    line-height: 30px;
    background-color: #f2f2f2;
    background-position: calc(50% - 320px) -1390px;
    background-size: auto;
  }
}

.effect__lead {
  margin: 0 20px 10px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;

  @media ($desktop) {
    margin-bottom: 24px;
    line-height: 30px;
  }
}

.effect__descr {
  margin: 0 10px 11px 0;

  @media ($desktop) {
    margin-bottom: 30px;
  }
}

.effect__link {
  display: block;
  color: $pink;
}
