.like {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;

  @media ($tablet) {
    justify-content: space-between;
    padding-right: 4px;

    &--lead {
      padding-right: 0;
    }
  }

  @media ($desktop) {
    &--lead {
      padding-right: 4px;
    }
  }
}

.like__link {
  width: 13px;
  height: 17px;
  overflow: hidden;
  margin: 0 19px 0 0;
  text-indent: 100px;
  white-space: nowrap;
  color: inherit;
  background-image: url("../img/bg-icons.svg");
  background-position: -100px -314px;
  outline: none;

  @media ($tablet) {
    order: 1;
    margin: 0;
  }

  &--lead {
    @media ($tablet) {
      margin: 0 0 0 19px;
    }
  }
}

.like__val {
  margin: 0;
}
