.like {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;

  @media ($tablet) {
    justify-content: space-between;
    padding-right: 4px;

    &--lead {
      padding-right: 0;
    }
  }
}

.like__link {
  margin: 0 19px 0 0;
  color: inherit;
  outline: none;

  @media ($tablet) {
    order: 1;
    margin: 0;
  }

  &--lead {
    @media ($tablet) {
      margin: 0 0 0 19px;
    }
  }
}

.like__val {
  margin: 0;
}
