.page-header {
  margin-top: 260px;
  padding-top: 66px;
  color: #ffffff;
  background-color: $asphalt;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media ($tablet) {
    margin-bottom: 30px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media ($desktop) {
    margin-top: 0;
    padding-top: 0;
  }

  &--index {
    margin-top: 259px;

    @media ($tablet) {
      margin-top: 255px;
    }

    @media ($desktop) {
      margin-top: 0;
      margin-bottom: 47px;
    }
  }

  &--off {
    margin-top: 0;
  }

  @media ($desktop) {
    margin-top: 0;
  }
}

.page-header__nav {
  position: absolute;
  top: 0;
  width: 100%;

  @media ($desktop) {
    position: static;
  }
}

.page-header__title {
  margin: 0;
  padding: 32px 40px 54px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  @media ($tablet) {
    min-height: 170px;
    padding: 110px 80px 79px;
    font-size: 50px;
  }

  @media ($desktop) {
    width: 940px;
    margin: 0 auto;
    padding: 65px 0 51px;
  }

  &--index {
    padding: 0 60px 30px;
    font-size: 40px;

    @media ($mobile) {
      display: none;
    }

    @media ($tablet) {
      padding-top: 63px;
      padding-bottom: 5px;
    }

    @media ($desktop) {
      width: 260px;
      margin: 0;
      padding: 0 20px 52px;
      font-size: 50px;
    }
  }

  &--photo {
    padding-bottom: 82px;

    @media ($tablet) {
      width: 360px;
      margin: 0 auto;
      padding: 110px 80px 89px;
    }

    @media ($desktop) {
      padding: 65px 0 51px;
    }
  }
}
