.page {
  min-width: 320px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-decoration-skip-ink: none;
  color: $asphalt;
}

.page__content {
  display: block;
}

.page__container {
  @media ($desktop) {
    width: 940px;
    margin: 0 auto;
  }
}

.page__footer {
  @media ($mobile) {
    &--index {
      display: none;
    }
  }
}

.page__desktop {
  display: none;

  @media ($desktop) {
    display: block;

    &--inline {
      display: inline;
    }
  }
}

.page {
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0.5;

  &--index {
    background-image: url("../img/pink-index-mobile.jpg");

    @media ($tablet) {
      background-image: url("../img/pink-index-tablet.jpg");
    }

    @media ($desktop) {
      background-image: url("../img/pink-index-desktop.jpg");
    }
  }

  &--photo {
    background-image: url("../img/pink-photo-mobile.jpg");

    @media ($tablet) {
      background-image: url("../img/pink-photo-tablet.jpg");
    }

    @media ($desktop) {
      background-image: url("../img/pink-photo-desktop.jpg");
    }
  }

  &--form {
    background-image: url("../img/pink-form-mobile.jpg");

    @media ($tablet) {
      background-image: url("../img/pink-form-tablet.jpg");
    }

    @media ($desktop) {
      background-image: url("../img/pink-form-desktop.jpg");
    }
  }
}
