.page-header {
  color: #ffffff;
  background-color: $asphalt;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media ($tablet) {
    margin-bottom: 30px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

.page-header__title {
  margin: 0;
  padding: 32px 60px 82px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  @media ($tablet) {
    min-height: 170px;
    padding: 80px 60px;
    font-size: 50px;
  }

  @media ($desktop) {
    width: 940px;
    margin: 0 auto;
    padding: 80px 0;
  }

  &--index {
    padding: 0 60px 30px;
    font-size: 40px;

    @media ($mobile) {
      display: none;
    }

    @media ($desktop) {
      width: 260px;
      margin: 0;
      padding: 0 20px 60px;
      font-size: 50px;
    }
  }

  &--photo {
    padding-bottom: 83px;

    @media ($tablet) {
      width: 360px;
      margin: 0 auto;
      padding: 80px;
    }
  }
}
