.page-footer {
  padding: 40px;

  @media ($tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 39px 18px 29px;
  }

  @media ($desktop) {
    width: 940px;
    margin: 35px auto;
  }
}

.page-footer__item {
  display: table;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;

  @media ($tablet) {
    width: 200px;
  }
}

.page-footer__logo {
  margin: 0 auto;
  outline: none;

  @media ($tablet) {
    margin: 0 auto 0 0;
    transform: translateY(-10px);
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-footer__socials {
  margin: 32px 0 38px;

  @media ($tablet) {
    margin: 0 auto 8px;
  }
}

.page-footer__dev {
  @media ($tablet) {
    margin-right: 2px;
  }
}
