.photos {
  padding: 0;
}

.photos__list {
  position: relative;
  width: 320px;
  margin: 0 auto 24px;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    width: 640px;
    margin: 0 auto 25px;
    display: flex;
    flex-wrap: wrap;
  }

  @media ($desktop) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 calc(50% - 480px);
    margin-bottom: 20px;
  }
}

.photos__item {
  width: 244px;
  margin: 20px auto;
  padding: 0 18px 20px;
  overflow: hidden;
  background-color: #f2f2f2;

  &--lead {
    margin-top: 0;
    padding-top: 143px;
    padding-bottom: 20px;
  }

  @media ($tablet) {
    width: 264px;
    margin: 0 10px 20px;
    padding-bottom: 22px;

    &--lead {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 620px;
      margin: 0 10px 50px;
      padding-top: 515px;
      padding-bottom: 12px;
    }
  }

  @media ($desktop) {
    margin-top: 34px;

    &--lead {
      width: 100%;
      margin: 0 10px 16px;
    }
  }

  &--lead::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;
    padding: 6px 20px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $pink;

    @media ($tablet) {
      top: 57px;
      right: 10px;
    }

    @media ($desktop) {
      top: 54px;
      right: $contain;
    }
  }
}

.photos__lead {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 137px;
  margin: 0;
  overflow: hidden;

  @media ($tablet) {
    width: 660px;
    height: 509px;
    left: -10px;
  }

  @media ($desktop) {
    width: 100%;
    height: 506px;
    left: 0;
  }
}

.photos__img {
  position: relative;
  left: 50%;
  display: block;
  width: 280px;
  height: auto;
  transform: translateX(-50%);

  @media ($tablet) {
    width: 300px;
  }

  &--lead {
    width: 320px;

    @media ($tablet) {
      width: 700px;
    }

    @media ($desktop) {
      width: 1200px;
    }
  }
}

.photos__title {
  margin: 18px 0 0;
  font-weight: 700;

  @media ($tablet) {
    margin: 24px 10px 0;
  }

  @media ($desktop) {
    margin-top: 24px;
  }

  &--lead {
    margin: 12px 0 0;

    @media ($tablet) {
      margin: 18px auto 0 10px;
    }

    @media ($desktop) {
      margin-top: 15px;
    }
  }
}

.photos__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photos__descr {
  margin: 0;

  @media ($tablet) {
    margin: 0 10px;
    min-height: 48px;
    margin-bottom: 12px;
  }

  &--lead {
    @media ($tablet) {
      order: 1;
    }

    @media ($desktop) {
      min-height: auto;
      margin-bottom: 11px;
    }
  }
}

.photos__like {
  margin-top: 9px;
  margin-left: auto;

  @media ($tablet) {
    margin: auto 10px 0;
  }
}
