.photos {
  padding: 0;
}

.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    width: 640px;
    margin: 0 auto 25px;
    display: flex;
    flex-wrap: wrap;
  }

  @media ($desktop) {
    width: 960px;
  }
}

.photos__item {
  width: 244px;
  margin: 20px auto;
  padding: 0 18px 18px;
  background-color: #f2f2f2;

  @media ($mobile) {
    &:nth-child(n+3) {
      padding-bottom: 20px;
    }
  }

  @media ($tablet) {
    display: flex;
    flex-direction: column;
    width: 264px;
    margin: 0 10px 20px;
    padding-bottom: 22px;
  }

  &--lead {
    position: relative;
    margin-top: 0;
    padding-top: 143px;
    padding-bottom: 20px;

    @media ($tablet) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 620px;
      margin: 0 10px 50px;
      padding-top: 515px;
      padding-bottom: 12px;
    }

    @media ($desktop) {
      width: 100%;
    }
  }

  &--lead::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 6px 20px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $pink;

    @media ($tablet) {
      top: 57px;
    }
  }
}

.photos__lead {
  position: absolute;
  top: 0;
  left: 50%;
  width: 320px;
  height: 137px;
  margin: 0;
  overflow: hidden;
  transform: translateX(-50%);

  @media ($tablet) {
    width: 660px;
    height: 509px;
  }

  @media ($desktop) {
    top: -14px;
  }
}

.photos__img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media($tablet) {
    width: 300px; // временно для PP
    height: 300px; // временно для PP
  }

  &--lead {
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
  }
}

.photos__title {
  margin: 12px 0 0;
  font-weight: 700;

  @media ($tablet) {
    margin: 24px 10px 0;
  }

  @media ($desktop) {
    margin-top: 24px;
  }

  &--lead {
    @media ($tablet) {
      margin: 18px 10px 0;
    }
  }
}

.photos__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photos__descr {
  margin: 0;

  @media ($tablet) {
    margin: 0 10px;
    min-height: 48px;
    margin-bottom: 12px;
  }

  @media ($desktop) {
    min-height: auto;
  }

  &--lead {
    @media ($tablet) {
      order: 1;
    }
  }
}

.photos__like {
  margin-top: 9px;

  @media ($tablet) {
    margin: auto 10px 0;
  }
}
