.post {
  padding: 0;
  line-height: 30px;

  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.post__group {
  margin: 0;
  padding: 14px 20px 31px;
  overflow: hidden;
  border: none;

  &--checks {
    padding: 50px 20px 20px;
    background-color: #f2f2f2;
  }

  &--person {
    padding: 33px 20px 8px;
  }

  &--app {
    padding-bottom: 23px;
  }

  &--contacts {
    padding: 32px 20px 7px;
  }

  &--adv {
    padding: 52px 20px 18px;
  }

  @media ($tablet) {
    width: 100%;
    position: relative;
    margin: 20px 20px 37px;

    &--checks {
      background-color: transparent;
    }

    &--person {
      order: -3;
      margin: 0;
      padding-bottom: 14px;
    }

    &--app {
      order: -2;
      margin: 0 20px 31px;
      padding: 14px 20px 32px 58px;
    }

    &--contacts {
      order: -1;
      margin-top: 34px;
      padding: 38px 58px 4px;
    }

    &--adv {
      margin-top: 28px;
      padding: 14px 58px 19px;
    }

    &--descr {
      margin: 28px 20px 20px;
      padding: 31px 58px 11px;
    }

    &--named {
      border: solid 2px #e6e6e6;
    }
  }

  @media ($desktop) {
    padding: 14px 20px 31px;

    &--checks {
      margin: 0;
      padding: 50px 20px 20px;
    }

    &--person {
      width: 435px;
      padding: 52px 0 0 0;
    }

    &--app {
      width: 391px;
      margin: 9px 0 17px auto;
      padding: 39px 20px 36px 20px;
    }

    &--contacts {
      margin: 13px auto 0;
      padding: 27px 58px 0;
    }

    &--adv {
      margin-top: 65px;
      margin-bottom: 57px;
      padding: 35px 58px 29px;
    }

    &--descr {
      margin: 8px 0 30px;
      padding: 28px 58px 18px;
    }
  }
}

.post__title {
  position: relative;
  top: 56px;
  padding: 0 20px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $pink;

  @media ($tablet) {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 25px;
    line-height: 30px;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
  }

  &--app {
    @media ($desktop) {
      left: 31px;
      margin: 0;
      width: 318px;
      transform: translateY(-50%);
    }
  }

  &--contacts {
    display: none;

    @media ($tablet) {
      display: block;
      padding: 0 31px;
    }
  }

  &--descr {
    display: none;

    @media ($tablet) {
      display: block;
      padding: 0 38px;
    }
  }

  &--adv {
    @media ($tablet) {
      padding: 0 32px;
    }
  }
}

.post__wrapper {
  @media ($desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.post__item-fields {
  margin: 0;
  padding-bottom: 16px;

  @media ($tablet) {
    display: flex;
    align-items: center;
    padding-bottom: 52px;
  }

  &--contacts {
    @media ($tablet) {
      flex-direction: column-reverse;
      padding-top: 7px;
      padding-bottom: 12px;
    }

    @media ($desktop) {
      width: 375px;
      padding-top: 15px;
    }
  }
}

.post__label-fields {
  display: block;
  padding: 0 23px 6px;
  font-size: 14px;
  text-transform: uppercase;
  color: $pink;

  @media ($tablet) {
    padding: 0 18px 0 0;
  }

  @media ($desktop) {
    padding: 0 19px 0 0;
  }

  &--contacts {
    padding-bottom: 5px;

    @media ($tablet) {
      align-self: flex-start;
      margin: 10px 20px;
    }

    @media ($desktop) {
      margin-bottom: 1px;
    }
  }

  &--descr {
    padding-top: 4px;
    padding-bottom: 10px;
    text-align: center;

    @media ($tablet) {
      display: none;
    }
  }
}

.post__field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 63px;
  padding: 14px 20px 15px;
  font: inherit;
  font-size: 18px;
  color: inherit;
  outline: none;
  border: solid 2px #e5e5e5;
  border-radius: 3px;

  &--contacts {
    margin-bottom: 1px;

    @media ($tablet) {
      margin-bottom: 0;
      background-image: url("../img/bg-icons.svg"), linear-gradient(to left, #e5e5e5 60px, transparent 60px);
      background-repeat: no-repeat;
      background-position: right -359px top -508px, 0 0;
    }
  }

  &--tel {
    @media ($tablet) {
      background-position: right -358px top -952px, 0 0;
    }
  }

  &--descr {
    min-height: 201px;
    margin-bottom: 17px;
    resize: none;

    @media ($tablet) {
      min-height: 193px;
      margin-bottom: 40px;
    }

    @media ($desktop) {
      min-height: 128px;
      margin-bottom: 25px;
    }
  }

  &::placeholder {
    color: inherit;
  }

  &:hover {
    border-color: $asphalt;
  }

  &:focus {
    border-color: $pink;
  }

  &--invalid {
    border-color: $pink;
    animation: shake 0.6s;
  }
}

.post__item-checks {
  margin: 24px 0;
  font-size: 18px;

  @media ($desktop) {
    margin: 0;
  }
}

.post__label {
  position: relative;
  display: inline-block;
  margin: 18px 0 0;
  padding: 5px 0 5px 69px;
  vertical-align: baseline;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: solid 2px #e5e5e5;
    border-radius: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 9px;
    width: 20px;
    height: 8px;
    border-left: solid 2px $pink;
    border-bottom: solid 2px $pink;
    transform: rotate(-45deg);
    opacity: 0;
  }

  &--radio {
    margin-top: 16px;
    padding-bottom: 0;

    &::before {
      border-radius: 50%;
    }

    &::after {
      top: 13px;
      left: 12px;
      width: 15px;
      height: 15px;
      background-color: $pink;
      border: none;
      border-radius: 50%;
    }
  }

  @media ($tablet) {
    padding: 0 0 10px 59px;

    &::before {
      top: -4px;
    }

    &::after {
      top: 7px;
    }

    &--radio {
      padding: 2px 0 3px 59px;
    }

    &--radio::before {
      top: -2px;
    }

    &--radio::after {
      top: 10px;
    }
  }

  @media ($desktop) {
    margin: 21px 0;

    &--radio {
      margin-top: 18px;
      margin-left: 54px;
    }
  }

  .post__checker:checked + &::after,
  .post__checker:not(:checked):not(:disabled) + &:active::after {
    opacity: 1;
  }

  .post__checker:checked:not(:disabled) + &:active::after {
    opacity: 0;
  }

  &:hover:not(:disabled)::before,
  &:focus::before {
    border-color: $asphalt;
    cursor: pointer;
  }

  &:active:not(:disabled)::before {
    border-color: $pink;
  }
}

.post__btn {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding-top: 16px;

  @media ($tablet) {
    width: 300px;
    margin: 47px 0 50px 20px;
  }

  @media ($desktop) {
    margin: 35px 0 0;
  }
}

.post__descr {
  margin: 35px 0 15px;
  text-transform: uppercase;
  text-align: center;

  @media ($tablet) {
    width: 300px;
    margin: 50px 0 50px 20px;
    text-align: right;
  }

  @media ($desktop) {
    width: auto;
    margin: 37px 0 0 auto;
  }
}
