.reviews {
  line-height: 30px;
  text-align: center;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__name {
  margin: 25px 0 16px;
  font-weight: 700;
  font-size: 18px;
}

.reviews__text {
  margin: 0;
}
