.tarifs {
  overflow: hidden;
}

.tarifs__opts {
  margin: 54px auto 0;
  table-layout: fixed;
  line-height: 30px;
  text-align: center;
  border-collapse: collapse;

  @media ($tablet) {
    width: 620px;
    margin: 40px auto;
    text-transform: none;
  }

  @media ($desktop) {
    width: 940px;
    font-size: 18px;
  }
}

.tarifs__title {
  width: 155px;
  padding: 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $asphalt;
  border: solid 2px #e5e5e5;
  border-top: none;

  @media ($tablet) {
    width: 135px;
  }

  @media ($desktop) {
    width: 213px;
    padding: 15px 10px;
  }

  &--hit {
    position: relative;
    overflow: hidden;

    &::before {
      content: "Хит";
      position: absolute;
      top: 0;
      left: -50%;
      width: 100%;
      height: 30px;
      text-transform: uppercase;
      background-color: $pink;
      transform: rotate(-45deg) translate(12px, 15px);
    }
  }
}

.tarifs__name {
  position: relative;
  z-index: 1;
  margin: 0;
  font-weight: 700;
  font-size: 18px;

  @media ($tablet) {
    font-size: 16px;
  }
}

.tarifs__price {
  margin: 7px 0 0;
  font-weight: 300;
  font-size: 24px;

  @media ($tablet) {
    font-size: 18px;
  }

  @media ($desktop) {
    font-size: 24px;
  }
}

.tarifs__key {
  width: 153px;
  padding: 17px 15px;
  text-transform: uppercase;
  text-align: left;
  background-color: #ffffff;
  border: solid 2px #e5e5e5;

  @media ($tablet) {
    width: 125px;
    text-transform: none;
  }

  @media ($desktop) {
    width: 190px;
  }
}

.tarifs__val {
  width: 153px;
  padding: 17px 15px;
  background-color: #ffffff;
  border: solid 2px #e5e5e5;

  @media ($tablet) {
    width: 125px;
  }
}

.tarifs__togglers {
  @media ($tablet) {
    display: none;
  }
}
