.tarifs {
  overflow: hidden;

  &::before {
    height: 24px;
  }
}

.tarifs__opts {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 834px;
  margin: 54px auto 35px;
  table-layout: fixed;
  line-height: 30px;
  text-align: center;
  border-collapse: collapse;

  @media ($tablet) {
    position: static;
    width: calc(100% - 40px);
    margin: 40px auto;
    text-transform: none;
    transform: none;
  }

  @media ($desktop) {
    width: 940px;
    font-size: 18px;
  }
}

.tarifs__title {
  width: 257px;
  padding: 16px 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $asphalt;
  border: solid 2px #e5e5e5;
  border-top: none;
  border-bottom: none;

  @media ($tablet) {
    width: auto;
  }

  @media ($desktop) {
    padding: 15px 10px;
  }

  &--hit {
    position: relative;
    overflow: hidden;

    &::before {
      content: "Хит";
      position: absolute;
      top: 0;
      left: -50%;
      width: 100%;
      padding: 7px 5px 8px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      background-color: $pink;
      transform: rotate(-45deg) translate(4px, 22px);
    }
  }
}

.tarifs__name {
  position: relative;
  z-index: 1;
  margin: 0;
  font-weight: 700;
  font-size: 18px;

  @media ($tablet) {
    font-size: 16px;
  }
}

.tarifs__price {
  margin: 2px 0 4px;
  font-weight: 300;
  font-size: 24px;

  @media ($tablet) {
    font-size: 18px;
  }

  @media ($desktop) {
    font-size: 24px;
  }
}

.tarifs__key {
  position: absolute;
  left: 278px;
  width: 160px;
  padding: 15px 22px 14px;
  text-transform: uppercase;
  text-align: left;
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  border-top-width: 0;
  border-right-width: 0;
  transform: translateY(1px);

  &--first {
    transform: none;
  }

  @media ($tablet) {
    position: static;
    width: auto;
    text-transform: none;
    border-top-width: 2px;
    border-right-width: 2px;
    transform: none;
  }
}

.tarifs__val {
  padding: 15px 22px 14px;
  text-align: right;
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  border-top: none;
}

.tarifs__togglers {
  @media ($tablet) {
    display: none;
  }
}
