$pink: #d22856;
$pink-pale: rgba(210, 40, 86, 0.3);
$asphalt: #283645;

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";
  src: local("Open Sans Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $asphalt;
}

@import "blocks/visually-hidden.scss";
@import "blocks/btn.scss";
@import "blocks/page-header.scss";
@import "blocks/nav.scss";
@import "blocks/download.scss";
@import "blocks/page-content.scss";
@import "blocks/advantages.scss";
@import "blocks/reviews.scss";
@import "blocks/slides.scss";
@import "blocks/tarifs.scss";
@import "blocks/contacts.scss";
@import "blocks/photos.scss";
@import "blocks/like.scss";
@import "blocks/add.scss";
@import "blocks/edit.scss";
@import "blocks/post.scss";
@import "blocks/page-footer.scss";
@import "blocks/socials.scss";
@import "blocks/dev.scss";
