$pink: #d22856;
$pink-pale: rgba(210, 40, 86, 0.3);
$asphalt: #283645;
$contain: calc(50% - 470px);
$mobile: "max-width: 659px";
$tablet: "min-width: 660px";
$desktop: "min-width: 960px";
$retina: "min-resolution: 1.5dppx";
